:root {

    --color1: #171a19;

}

html, body {
    padding: 0;
    margin:0;
}

header {
    display: flex;
    padding: 1%;
    color:rgb(180, 17, 17); 
    background-color: var(--color1)} 

header h1 {
color: var(--color1);
border-style: initial;
background-color: #1bc08f;
background-size: 89%;
background-position-x: 20%;
padding-left: 180px;
}

header nav ul { 
    gap: 8px;
    font-size:larger;
    color:#47cbe2;
}


header button:hover {
    background-color: #757474;
    cursor: pointer;
    transition:  1s;
}

header button {
    
    border-top: #0000;
    border-left: #0000;
    border-right: #0000;
    justify-content: space-between;
    background-color:#0000;
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
   
}

article {

display: flex;
flex-direction: column;
justify-content: center;
}


article h2 {
    display: flex;
}


.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-color: #0000;
}

.hover-class {
    border: 1px solid #0000;
    
}



.test {
    display: flex;
    justify-content: flex-end;
}



table {
   
   border-spacing:30px;
    display: flex;
    justify-content: right;
    justify-content: space-around;
    border: 98px solid rgb(red, green, blue);
    border-bottom-width: 200px;
    font-family: sans-serif;
    font-size: 2.80rem;
    letter-spacing: 1px;
    word-spacing: 40px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

.table nav {
    display: flex;
    word-spacing: 200px;
    position: relative;
    right: 43495px;
}

tr {
    display: table-row;
    vertical-align:inherit;
}

/* 
thead, tfoot {
    background-color: rgb(228 240 245);
}

th, td {
    border: 1px solid rgb(160 160 160)
    padding: 8px 10px;
    word-spacing: 40px;
}

time */

table td:hover {
    color:rgb(150, 150, 150);
    cursor: pointer;
} 


 .banner {
        width: 100%;

    } 
@media screen and (max-width: 789px) {

    header {
        display: flex;
        flex-direction: column;
    }

    main {
        max-width: 789px;
    }
    aside {
        display: flex;
        flex-direction: column;
        max-width:fit-content;


    }

    /* .banner {
        display: flex;

    } */

}