
html, body {
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color:  #171a19;
    color:aliceblue;
}

nav li:hover {
    
    background-color: grey;
    cursor: pointer;
    transition: 1s;
}

#name {
    color:  #171a19;
    margin: 3%;
    background-color: rgb(25, 199, 147);
    background-size: 90%;
    padding-left: 10%;
}

#nav-links {
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 30%;
} 


.banner img {
    width: 100%;
    z-index: 2;
} 

@media screen and (max-width: 400px) {
    #name {
        color:blue;
    }

}