
html, body {
    padding: 0;
    margin:0;
}

nav {
    display: flex;
    justify-content: space-between;
}

#name {
    color: rgb(25, 199, 147);
}

#nav-links {
    display:flex;
    justify-content: flex-end;
    list-style-type: none;
} 


.banner img {
    width: 100%;
    z-index: 2;
} 

@media screen and (max-width: 400px) {
    #name {
        color:blue;
    }

}