:root {

    --color1: #171a19;

}

html, body {
    padding: 0;
    margin:0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    color:rgb(180, 17, 17); 
    background-color: var(--color1)}
    

header h1 {
    display: flex;
    color: var(--color1);
    border-style: initial;
    background-color: #1bc08f;
    background-size: 89%;
    background-position-x: 20%;
    padding-left: 180px;
}

head nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

header nav li { 
    display: flex;
    gap: 8px;
    font-size:larger;
    color:#47cbe2;
    margin-right: 10px;
}


header button:hover {
    background-color: #757474;
    cursor: pointer;
    transition:  1s;
}

header button {
    border: none;
    flex-direction: row;
    background-color: #0000;
    font-size:larger; 
    font-family: Arial, Helvetica, sans-serif;
    color: #37ca79;
    text-decoration: underline;
}


article {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
margin-bottom: 20px;
height:300px;
border-color:#171a19;
border-radius: 2px;
}


article h2 {
    display: flex;
    max-height:200px;
    font-size: 36px;
    padding: 50px; 
    text-align: center;
    border-right: 3px solid black;    
}

article img {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 200px;
}

article img:hover {
    color:rgb(69, 78, 72);
    cursor: pointer;
}

article div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.float-left {
    float: left;
    margin-left: 25px;
}

.float-right {
    float: right;
    margin-right: 25px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: left;
    width: 20%;
    height: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    background-color: #0000;
}

.hover-class {
    border: 1px solid #0000;
    
}



.test {
    z-index: 1;
   
}

/* #test:hover {
    color: var(--color1);
    opacity: 100%;
} */


table {
   
   border-spacing:30px;
    display: flex;
    justify-content: right;
    justify-content: space-around;
    border: 98px solid rgb(red, green, blue);
    border-bottom-width: 200px;
    font-family: sans-serif;
    font-size: 2.80rem;
    letter-spacing: 1px;
    word-spacing: 40px;
}

caption {
    caption-side: bottom;
    padding: 10px;
    font-weight: bold;
}

.table nav {
    display: flex;
    word-spacing: 200px;
    position: relative;
    right: 43495px;
}

tr {
    display: table-row;
    vertical-align:inherit;
}


thead, tfoot {
    background-color: rgb(228 240 245);
}

th, td {
    border: 0px solid rgb(160 160 160);
    padding: 8px 10px;
    word-spacing: 40px;
}

table td:hover {
    color:rgb(150, 150, 150);
    cursor: pointer;
} 


 .banner {
        width: 100%;
        z-index: 2;
    } 

@media screen and (max-width: 789px) {

    header {
        display: flex;
        flex-direction: column;
    }

    main {
        max-width: 789px;
    }
    aside {
        display: flex;
        flex-direction: column;
        max-width:fit-content;


    }


}